*{
	font-size:10pt;
}
#global {
    text-align: left;
    border: 1px solid #dedede;
    background: #efefef;
    width: 560px;
    padding: 20px;
    margin: 100px auto;
}

form {
  font:100% verdana;

}

form fieldset {
  border-color: #bdbebf;
  border-width: 3px;
  margin: 0;
}

legend {
    font-size: 1.3em;
}

form label { 
    font-size:10pt;
    padding: 2px;
}
table th {
	border: 1px solid #dedede;
	background-color:#A7C942;
}
table td {
	border: 1px solid #dedede;
	background: #eeeeee;
}

#buttons {
    text-align: right;
}
#errors, li {
	color: red;
}
.error {
    color: red;
    font-size: 10pt;	
}